= form_for @poll do |f|
  - if @poll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@poll.errors.count, "error")} "
      %ul{:class => "alert alert-danger"}
        - @poll.errors.full_messages.each do |msg|
          .container
            %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.submit "Save" , class: "btn btn-success"


