
%p
  %b Title:
  = @poll.title

= link_to 'Edit', edit_poll_path(@poll)
\|
= link_to 'Back', polls_path


%ul
  - @poll.questions.each do |question|
    %li
      = question.title
      \|
      = link_to "Edit Question", edit_poll_question_path(@poll,question)

%p= link_to 'Add new question to this poll', new_poll_question_path(@poll), class: 'btn btn-primary'