
%p
  %b Title:
  = @poll.title

%ul
  - @poll.questions.each do |question|
    %li
      = question.title
      .div{class: "btn-group"}

        = link_to "Edit Question", edit_poll_question_path(@poll,question), class: 'btn btn-default' if @poll.user == current_user
        = link_to "Delete Question", poll_question_path(@poll,question), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-default' if @poll.user == current_user
      %ul
        - question.possible_answers.each do |p|
          %li= p.title
      


%p= link_to 'Add new question to this poll', new_poll_question_path(@poll), class: 'btn btn-primary' if @poll.user == current_user
%p= link_to "Answer this poll", new_poll_reply_path(@poll), class: 'btn btn-primary'

%p= link_to 'Back', polls_path
